In [5]:
import os
import sys
import datetime
import pandas as pd
from IPython.display import display

In [6]:
[x for x in os.listdir('.') if x.endswith(".csv")]

['ds1_test.csv',
 'ds1_train.csv',
 'ds1_valid.csv',
 'ds2_test.csv',
 'ds2_train.csv',
 'ds2_valid.csv',
 'test.csv',
 'train.csv',
 'valid.csv']

In [8]:
fnames = ["train", "test", "valid"]
dfdict = {}
for fname in fnames:
    fpath = f"{fname}.csv"
    df = pd.read_csv(fpath)
    print(f"{fname}")
    display(df.head())

train

     t       x_1       x_2  y
0  0.0 -1.548319 -2.762987  0
1  0.0 -3.958870 -0.612780  0
2  0.0 -2.276375  0.614934  0
3  0.0  0.556287 -3.931406  0
4  0.0 -1.491000 -2.159297  0

test

     t       x_1       x_2  y
0  0.0  0.387421 -1.866760  0
1  0.0 -2.356436 -1.168553  0
2  0.0 -2.217217 -3.282972  0
3  0.0 -1.373251 -4.551377  0
4  0.0 -1.546461 -3.045420  0

valid

     t       x_1       x_2  y
0  0.0 -3.045520 -1.857371  0
1  0.0 -3.998597  0.368850  0
2  0.0 -4.789953 -0.689660  0
3  0.0 -3.596480 -2.434832  0
4  0.0 -1.830972 -3.134346  0